# Supervised Learning with AMEX Data
## American Express - Default Prediction

* This notebook consist in an exploratory analysis from Amex data with Dask.

In [114]:
import re
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client
client = Client(n_workers=4)
client

/opt/anaconda3/lib/python3.8/site-packages/distributed/node.py:151: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 52744 instead
  warnings.warn(

In [115]:
df = dd.read_csv('/Users/usuario/workspace/AMEX_data/train_data.csv',)

In [117]:
df.head(3)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603

The dataset contains aggregated profile features for each customer at each statement date. Features are anonymized and normalized, and fall into the following general categories:

D_* = Delinquency variables
S_* = Spend variables
P_* = Payment variables
B_* = Balance variables
R_* = Risk variables

In [118]:
string = str(' '.join((df.columns)))
Delinquency_columns = re.findall(r'(D_\d*)', string)
Spend_columns = re.findall(r'(S_\d*)', string)
Payment_columns = re.findall(r'(P_\d*)', string)
Balance_columns = re.findall(r'(B_\d*)', string)
Risk_Columns = re.findall(r'(R_\d*)', string)

In [119]:
print(f'Hay {len(Delinquency_columns)} variables sobre delincuencia')
print(f'Hay {len(Spend_columns)} variables sobre gastos')
print(f'Hay {len(Payment_columns)} variables sobre pagos')
print(f'Hay {len(Balance_columns)} variables sobre balances')
print(f'Hay {len(Risk_Columns)} variables sobre riesgo')

Hay 96 variables sobre delincuencia
Hay 22 variables sobre gastos
Hay 3 variables sobre pagos
Hay 40 variables sobre balances
Hay 28 variables sobre riesgo